@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@font-face {
    font-family:'Inter Bold' ;
    src: url('../fonts/Inter-Bold.ttf'), format('opentype');
}
@font-face {
    font-family:'Inter Regular' ;
    src: url('../fonts/Inter-Regular.ttf'), format('opentype');
}

:root{
    --main-background:hsl(233, 47%, 7%);
    --card-background:hsl(244, 38%, 16%);
    --titles: hsl(0, 0%, 100%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body{
    background-color: var(--main-background);
    margin-top: 150px;
}

main{
    background-color: var(--card-background);
    width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 70px 0px 50px;
    width: 500px;

}

.description > h1{
    color: var(--titles);
    font-family: sans-serif;
    font-size: 2em;
}
strong{
    font-size: 1em;
    color: hsl(277, 64%, 61%);
}
.description > p{
    font-size: 15px;
    color: var(--paragraphs);
    line-height: 1.5em;
    margin-top: 25px;
    font-family: 'Inter Regular', sans-serif;
}

.more{
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: start;
}
.more h2{
    color: var(--titles);
    font-family: sans-serif;
    font-size: 1.5em;
}
.more p {
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.5em;
    font-family: 'Inter Regular', sans-serif;
    text-transform: uppercase;
}

.img{
    height: 400px;
    width: 500px;
    background-image: url('../images/image-header-desktop.jpg');
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width:1000px) {  
    main{
        width: 700px;
        height: 700px;
        flex-direction: column-reverse;
        padding: 0px;
        justify-content: flex-end;
        gap: 50px;
    }
    .img{
        background-size: cover;
        width: 100%;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 15px;
        height: 50%;
    }
    .content {
        width: 100vw;
        flex-direction: column;
    }
    .description {
        display: flex;
        flex-direction: column;
        width: 600px;
    }
    .more {
        display: flex;
        width: 600px;
        justify-content: center;
        gap: 100px;
        margin-top: 50px;
    }
    
    .description h1 {
        font-size: 3em;
        text-align: center;
    }
    
    .more h2 {
       font-size: 2em;
    }
}

@media screen and (max-width:700px) {  
    main{
        width: 450px;
        height: 700px;
        flex-direction: column-reverse;
        padding: 0px;
        justify-content: flex-end;
        gap: 30px;
    }
    .img{
        background-image: url('../images/image-header-mobile.jpg');
        background-size: cover;
        width: 100%;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 15px;
        height: 50%;
    }

    .content {
        width: 400px;
        flex-direction: column;
        align-self: center;
    }
    .description {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        align-self: center;
    }
    .more {
        display: flex;
        width: 400px;
        gap: 50px;
        margin-top: 50px;
        align-self: center;
    }
    
    .description h1 {
        font-size: 2em;
        text-align: center;
    }
    .description p {
        font-size: 1.2em;
        text-align: center;
    }
    
   
}




















